body {
    font-family: Arial, sans-serif;
    background-color: #b0d2ce;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3b5998;
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #e8e8e8;
}

main {
    padding: 20px;
}

form {
    margin: 20px auto;
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1.1em;
}

button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #314e85;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
